body {
    background-image: url('../img/bg_movie.png');
    background-repeat: repeat;
}

#content {
    width: 790px;
    margin: 0px auto;
    padding-top: 36px;
}

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.reward {
    padding-top: 23px;
    padding-left: 48px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 18px;
}
